[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scipy = "*"
tabulate = "*"
matplotlib = "*"
python-dotenv = "*"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.11"
